body {
  font-family: 'Consolas', sans-serif;
}

h1 {
  font-size: 110%;
}

/* Layout */

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-map {
  flex: 2;
}

/* Elements */

.character {
  font-weight: bold;
}

label {
  margin-right: 10px;
}

.form-section input {
  width: 40px;
}

footer {
  text-align: center;
  font-size: 50%;
}

.big-map {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
}

.big-map td {
  border: 1px solid black;
  overflow: hidden;
}

.unvisited {
  background-color: gray;
}

.unwalkable {
  background-color: black;
}

.my-character {
  background-color: #AD24E3;
}

.entity-monster {
  background-color: red;
}

/* JSON */
.json-markup {
  line-height: 17px;
  font-size: 13px;
  font-family: monospace;
  white-space: pre;
}
.json-markup-key {
  font-weight: bold;
}
.json-markup-bool {
  color: firebrick;
}
.json-markup-string {
  color: green;
}
.json-markup-null {
  color: gray;
}
.json-markup-number {
  color: blue;
